#container {
    width: 43rem;
    height: 50rem;
    margin: 0.5rem auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyay026tm6e8q60Knnv2bXOoB4XD2fllORUBJXHBKL1FnyJOCO");
    background-size:cover;
}

#chatbox {
    width: 40rem;
    height: 35rem;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    border: 0.25rem solid black;
    color: white;
    font-size: 15pt; 
}
#title {
    margin-left: 1.40rem;
}
#msg {
    width: 40rem;
    height: 2rem;
    margin: 0.50rem 1.40rem;
    
}
#btn {
    display: block;
    float: right;
    padding: 0.50rem;
    margin-right: 1.40rem;
    font-weight: bold;
}